@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}
/*---------------------HOME------------------------*/

.page {
    width: 100vw;
    height: 100dvh;
    background-image: url('/img/blureado.png' );
    background-size: cover;
    
}
section#bienvenida {
    height: 100dvh;
}
#logoBienvenida {
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 25px;
    margin-bottom: 100px;
}

#sectionBienvenida {
    width: 100%;
    height: 40%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: rgba(252, 250, 250, 0.7);
}
#titleBienvenida {
    
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    
}
p#textoBienvenida {
grid-row: 2;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 250px;
text-align: justify;
margin: 20px;
align-items: center;
}
#buttonLogin {
    margin-top: 5px;
    margin-left: 100px;
    width: 130px;
    height: 40px;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 17px;
    font-weight: 400px;
    background: linear-gradient(90deg, rgba(61,84,194,1) 2%, rgba(255,102,196,1) 100%);
    grid-row: 3;
}
/*-----------------------------Ventana login----------------------------------------------------*/
#first {
    background-image: url(img/fondoInicio.png);
}

#login {
    background-color: aqua;
    border: solid 5px;
    margin: 20px;
    padding: 5px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 30% 10% 10% 10%;
    row-gap: 10px;
    width: 50%;
    height: 500px;
}

#login> #logoLogin {
    grid-column: 2;
    width: 100px;
    height: 100px;
    grid-column: 2;
}

#logintitle {
    grid-row: 2;
    grid-column: 2;
}
/*----------------------Error---------*/
#error404 {
    margin-top: 150px;
    width: 100vw;
}

/*----------------------Crear Cuenta---------*/
section#newAccount {
    height: 100vh;
    position: relative;
}

#newAccountTitle {
    position: relative;
    text-align: center;
    top: 10%;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
}

#newAccountTitle2 {
    position: relative;
    text-align: center;
    top: 14%;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#sectionNewAccount {
    height: 100vh;
    width: 80%;
    height: 55%;
    position: absolute;
    top: 55%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
    text-align: center;
    background-color: rgba(252, 250, 250, 0.7);
    border-radius: 5%;
}